.App {
  text-align: center;
  margin: 0 auto;
  padding: 2%;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  background-image: url('../img/gratisography-13H-free-stock-photo.jpg');
  background-position: center;
  background-size: cover;
}

/* Add the following code to create a parallax effect */
.App:hover {
  background-position-x: calc(50% - 5px);
  background-position-y: calc(50% - 5px);
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
    height: 40%;
    margin: 0 auto 5% auto;
    border-color: black;
    border-style: solid;
}

.graph-card {
    width: 90%;
    height: 90%;
    border-radius: 15px;
    margin: 5% auto 5% auto;
    background-color: white;
    /* border-color: black; */
    /* border-style: solid; */
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
    background-color: #2e8b57;
    padding-top: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .sidebar a:hover,
  .sidebar a.active {
    background-color: #fff;
    color: #2e8b57;
  }

  .title {
    color: green;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 16px;
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-family: "Lucida Console",  monospace;
    text-shadow: 2px 2px 8px #ffffff;
  }

  .author {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 32px;
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
  
  
/* .plot {
    margin-top: 5%
} */