.App {
    text-align: center;
    margin: 2em auto;
    padding: 2%;
    width: 90%;
    /* height: 1600px; */
    background-color: white;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
    height: 40%;
    margin: 0 auto 5% auto;
    border-color: black;
    border-style: solid;
}

.graph-card {
    width: 90%;
    height: 90%;
    border-radius: 15px;
    margin: 5% auto 5% auto;
    background-color: white;
    /* border-color: black; */
    /* border-style: solid; */
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
    background-color: #2e8b57;
    padding-top: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .sidebar a:hover,
  .sidebar a.active {
    background-color: #fff;
    color: #2e8b57;
  }

  .title {
    color: green;
    text-align: center;
  }
  
/* .plot {
    margin-top: 5%
} */